*{
    margin: 0;
    padding: 0;
}

h1{text-align:center; background-color: rgb(172, 75, 75); font-weight: 100; padding: 30;}
.s{color: green; background-color: rgb(238, 149, 40); text-align: center;}
h2{text-align: left; color: black;}
a{color: green;}